/* **************************************
** CSS Properties For PortableAppsOSX64 GitHub/GH-Pages.
** Copyright © 2020 Erik T Ashfolk (<atErïk＠ÖυťĹöōķ·ċōm;atErik＠AśhFölķ·ćōm>, Do Not Copy 
**   Eml-Adrs, Type in English/basic-latin, No Soliciting Permitted). All rights reserved.
** Released with below combined Licenses+Restrictions+Permissions:
**   • Do Not Use My/Our Contribution(s) To Kill/Harm/Violate(or Steal-from)(Any) Human/Community,Earth,etc.
**   • GNU General Public License v3 (GPL v3) https://www.GNU.org/licenses/gpl-3.0.en.html 
**************************************** */
/* HTML element */
html{ font-size:100%; -webkit-text-size-adjust:100%; }
html,button,input,select,textarea{ font-family:sans-serif; }
/* BODY element (on "GH-Pages" for Darker-Colored Theme) */
body{ padding:1px 3px 1px 1px; margin:0px; width:100%;
 background-color:black; color:white;
 text-align:left;
 font-size:14px; line-height:1.5; font-weight:normal;
 font-family:"OpenSansRegular","Helvetica Neue",Helvetica,Arial,sans-serif; }
/* DIV class "wrapper" on GH-Pages */
div.wrapper{ width:100%; padding:2px 8px 2px 2px; }
div.wrapper section{ width:100%; }
div.wrapper section div{ width:100%; }
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{ display:block; }
div#header{ text-align:center; }
