/* **************************************
** CSS Properties For PortableAppsOSX64 GitHub/GH-Pages.
** Copyright © 2020 Erik T Ashfolk (<atErïk＠ÖυťĹöōķ·ċōm;atErik＠AśhFölķ·ćōm>, Do Not Copy 
**   Eml-Adrs, Type in English/basic-latin, No Soliciting Permitted). All rights reserved.
** Released with below combined Licenses+Restrictions+Permissions:
**   • Do Not Use My/Our Contribution(s) To Kill/Harm/Violate(or Steal-from)(Any) Human/Community,Earth,etc.
**   • GNU General Public License v3 (GPL v3) https://www.GNU.org/licenses/gpl-3.0.en.html 
**************************************** */
/* BODY width */
body{ width:100%; }
/* For "GH-Pages" class "wrapper" */
div.wrapper{ width:100%; }
div.wrapper section{ width:100%; }
div.wrapper section div{ width:100%; }
